@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit: var(--font-outfit);
  --font-ovo: var(--font-ovo);
  --color-dark-theme: #11001F;
  --color-dark-hover: #2a004a;
  --black-shadow: 4px 4px 0px 0px #000;
  --white: 4px 4px 0px 0px #fff;
}

@theme {
  --shadow-black: 4px 4px 0px 0px #000;
  --shadow-white: 4px 4px 0px 0px #fff;
  --grid-template-columns-auto-fit: repeat(auto-fit, minmax(200px, 1fr));
}

@custom-variant dark (&:where(.dark, .dark *));

